binary-classifier/model/
binary-classifier/figure/
binary-classifier/log/
binary-classifier/new_model/
binary-classifier/__pycache__/
binary-classifier/runs/
failure_directions/src/__pycache__/
binary-classifier/utils/__pycache__/
binary-classifier/utils/objects/__pycache__/
binary-classifier/utils/statistics/__pycache__/
# binary-classifier/
cifar-100/*